@use '../../../assets';

.servers-dashboard {
   width: assets.$servers-dashboard-width;
   height: 100vh;
   display: inline-flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   flex-grow: 0;
   flex-shrink: 0;
}